@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

.active{
    border-bottom: 4px solid $dc-color;
        a.active-link {
            color: $dc-color;
        }
    }

html{
font-family: Arial, Helvetica, sans-serif;
}
    
